<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Eiffel's Website</title>
    <link rel="stylesheet" href="../resources/style.css">
    <link rel="icon" href="../resources/ev_favicon.svg" type="image/svg+xml">
</head>

<body>
    <img src="../resources/cool_banner.svg" alt="Eiffel's Website Banner" width="100%">
    <nav class="menue">
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="./two.html">two</a></li>
            <li><a href="./three.html" class="current">three</a></li>
        </ul>
    </nav>

    <h1>SVG Animation is easy!</h1>

</body>

</html>