<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Eiffel's Website - two</title>
    <link rel="stylesheet" href="../resources/style.css">
    <link rel="icon" href="../resources/ev_favicon.svg" type="image/svg+xml">
</head>

<body>
    <img src="../resources/cool_banner.svg" alt="Eiffel's Website Banner" width="100%">
    <nav class="menue">
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="./two.html" class="current">two</a></li>
            <li><a href="./three.html">three</a></li>
        </ul>
    </nav>

    <h1>Favorite Coding Resources</h1>

    <table>
        <caption>My Favorite Coding Resources</caption>
        <thead>
            <tr>
                <th>Resource</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MDN Web Docs</td>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">https://developer.mozilla.org/en-US/docs/Web/HTML</a></td>
            </tr>
            <tr>
                <td>W3Schools</td>
                <td><a href="https://www.w3schools.com/html/default.asp">https://www.w3schools.com/html/default.asp</a></td>
            </tr>
            <tr>
                <td>GeeksforGeeks</td>
                <td><a href="https://www.geeksforgeeks.org/html-tutorial/">https://www.geeksforgeeks.org/html-tutorial/</a></td>
            </tr>
        </tbody>
    </table>

</body>

</html>